@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: button;
        appearance: button;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    ::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        display: block;
    }
}

[x-cloak] {
    display: none;
}
